$color-main:            #ff712b; //主黄色
$color-main-active:     #5ADAD0; //主色调
$color-list-title:      #595663; //小标题颜色
$color-cont:            #3A3A3A; //小字颜色
$color-tab-active:      #8B8B8B; //tab切换颜色
$color-time-small:      #959595; //时间颜色
$color-hr:              #F3F6F8;
$switch-close:          #C6C6C6;

$tab-height:      100px;
$tab-ink-height:  4px;


$font-size-s:   12px;
$font-size-m:   14px;
$font-size-l:   16px;
$font-size-xl:  18px;
$font-size-xxl: 20px;


$icon-size-s:   12px;
$icon-size-m:   14px;
$icon-size-l:   16px;
$icon-size-xl:  18px;
$icon-size-xxl: 20px;